{{#if @model.children.length}}
  <span class="tree-toggle">
    <span role="button" class="toggle-icon" {{on "click" @toggleExpand}}>
      {{#if @model.isExpanded}}
        {{component @expandedIcon}}
      {{else}}
        {{component @collapsedIcon}}
      {{/if}}
    </span>
  </span>
{{/if}}